<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.edwin.fsg.mapper.OrderLogMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.edwin.fsg.model.OrderLog">
        <id column="Id" property="Id" />
        <result column="operater_user_id" property="operaterUserId" />
        <result column="operate_type" property="operateType" />
        <result column="order_id" property="orderId" />
        <result column="suborder_id" property="suborderId" />
        <result column="buyer_user_id" property="buyerUserId" />
        <result column="seller_user_id" property="sellerUserId" />
        <result column="order_status" property="orderStatus" />
        <result column="create_time" property="createTime" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        Id, operater_user_id, operate_type, order_id, suborder_id, buyer_user_id, seller_user_id, order_status, create_time
    </sql>

</mapper>
