<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.edwin.fsg.mapper.UserExtMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.edwin.fsg.model.UserExt">
        <id column="Id" property="Id" />
        <result column="user_id" property="userId" />
        <result column="company" property="company" />
        <result column="site" property="site" />
        <result column="address" property="address" />
        <result column="corporate" property="corporate" />
        <result column="vocation" property="vocation" />
        <result column="nature" property="nature" />
        <result column="identity_card" property="identityCard" />
        <result column="business_license" property="businessLicense" />
        <result column="contacts" property="contacts" />
        <result column="cellphone" property="cellphone" />
        <result column="legal_phone" property="legalPhone" />
        <result column="properties" property="properties" />
        <result column="free_rule" property="freeRule" />
        <result column="free_size" property="freeSize" />
        <result column="deposit_bank" property="depositBank" />
        <result column="bank_account" property="bankAccount" />
        <result column="bank_license" property="bankLicense" />
        <result column="email" property="email" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        Id, user_id, company, site, address, corporate, vocation, nature, identity_card, business_license, contacts, cellphone, legal_phone, properties, free_rule, free_size, deposit_bank, bank_account, bank_license, email
    </sql>

</mapper>
